* {
  font-family: "Gilroy reguler";
}
.Parent_Section {
  padding-left: 225px ;
}
.Header_Section {
  box-shadow: 0px 4px 4px 0px #00000005;
  background: #fff;
  border-radius: 8px;
  padding: 15px 15px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Right_User_Section {
  display: flex;
  align-items: center;
  gap: 100px;
}
.log_out__btns {
  width: 140px;
  position: absolute;
  top: 48px;
  right: 0%;
  z-index: 99999999;
}
.log_out__btns button {
  background: #fff;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 12px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-family: "Gilroy medium";
  cursor: pointer;
  font-size: 16px;
}
.Profile_Admin {
  display: grid;
  grid-template-columns: 55px 90px 20px;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.Profile_Admin img {
  border-radius: 32px;
  width: 40px;
  height: 40px;
}
.Search_User {
  position: relative;
  overflow: hidden;
}
.Search_User input {
  border: 0.5px solid #f1efea;
  background: #fbfaf8;
  padding: 13px 20px;
  outline: none;
  width: 230px;
  border-radius: 32px;
  font-family: "Gilroy medium";
  box-shadow: 0px 4px 4px 0px #dfddd740 inset;
}
.Search_User input::placeholder {
  color: #c6bfae;
  font-family: "Gilroy medium";
  font-size: 14px;
}
.Search_User img {
  position: absolute;
  right: 0%;
  bottom: 0%;
}
.Left_User_Section h3 {
  color: #2e364c;
  font-family: "Gilroy bold";
  font-weight: 700;
  font-size: 20px;
}
.Name_Sub p {
  font-family: "Gilroy medium";
  color: #2a3144;
}
.Name_Sub_admin {
  color: #2a3144b5 !important;
  font-size: 12px;
  margin-top: 5px;
}
.basic-details_header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.headerImageDesinger {
  display: flex; 
  gap:8px;
  justify-content: center;
  align-items: center;
  font-family: "Gilroy medium";
}
.headerDesingerImage img{
width: 28px;
border-radius: 32px;
height: 28px;

}