.formContainer {
  display: flex;
  flex-direction: column;
  position: relative;
 }
.inputFields {
  border: 0.75px solid #e0e1e1;
  width: 100%;
  padding: 8px 10px;
  border-radius: 4px;
  outline: none;
}
.label-text {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  color: #19242d;
}

.gridfifty {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 100%;
  padding-bottom: 5px;
  margin: 10px 0px;
}
.gridThree {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  width: 100%;
  padding-bottom: 5px;
  margin: 15px 0px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.next-button {
  background-color: #2b2b2b;
  font-family: "Gilroy medium";
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 10px 0px;
  border-radius: 8px;
  width: 100%;
}
 :where(.css-dev-only-do-not-override-1ae8k9u).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  padding: 16px 10px;
  border-radius: 4px !important;
  color:#006E7F1A !important;
}

.create_form_field {
  padding: 0px 0px;
}
.select_field {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.titleBasic {
  font-family: "Gilroy medium";
  font-size: 16px;
  padding-bottom: 6px;
}

.inputTag {
  height: 6px !important;
  font-size: 12px;
  --rti-s: 3px !important;
  outline: none;
}
.rti--container {
  --rti-s: 4px !important;
  font-size: 12px !important;
  padding: 6px 6px !important; /* spacing */
  --rti-main: #000000;
  --rti-radius: 4px !important;
}
.rti--container :focus-visible {
  outline: none;
}
.approxMetel {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  gap:15px
}
.tagsInputfeild {
  padding-bottom: 6px;
  margin: 10px 0px;
}
.inputFields[type="number"]::-webkit-inner-spin-button,
.inputFields[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.error_select_p {
  position: absolute;
  color:rgb(218, 39, 39);

  background: #E7EDF4;
  padding:2px 10px ;
  border-radius: 6px;
  font-size: 9px;
  z-index: 999999;
  margin-top: 2px;
}
.error_input_p {
  position: absolute;
  color:red;
  font-size: 10px;
  background: #E7EDF4;
  padding:2px 10px ;
  border-radius: 6px;
  font-size: 9px;
  margin-left:0px;
  /* bottom: -20px; */
  margin-top: 2px;
}
.textArea_feild {
  outline: none;
  padding:8px 10px;
}