.Right_Section_forgot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.forgotPasswordContainer {
  background: #fff;
  box-shadow: 0px 1px 4px 0px #00000040;
  border-radius: 8px;
  padding:10px 20px 
}
.forgotPasswordContainer img {
    padding:10px 0px
}
.forgotTitle {
  font-family: "Gilroy bold";
  font-size: 18px;
  padding:10px 0px
}
.forgotSub{
  color: #2d333e;
  font-family: "Gilroy medium";
}
.titleotp {
    color: #2d333e;
  font-family: "Gilroy bold";
  font-size: 20px;
  margin: 10px 0px;
}
.forgotPass_email {
    border: 1px solid #DFE5EC;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0px;
   

}
.forgotPass_email::placeholder {
    font-size: 12px;
}
.input_forgot_feid {
    display: flex;
    flex-direction: column;
    gap:5px;
    margin:10px 0px;
    position: relative;
 
    
}
.button_Send {
    color:#fff;
    border-radius: 8px;
    border: none;
    background: #2B2B2B;
    padding: 12px 0px;
    margin: 10px 0px;
    width: 100%;
} 
.resentOtpButton {
    display: flex;
    padding:5px 0px;
    align-items: center;
    justify-content: center;
    gap:5px
}
.otp_react {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 0px
}
.renderButton {
    background: transparent;
    border:none;
    color:#1AA1A1

}

.otp-input {
    width: 40px !important;
    height: 40px !important;
    border-radius: 4px;
    border: 1px solid #DFE5EC;
    margin: 0px 3px !important;
    padding: 0px !important;
    text-align: center; 
    font-size: 1.2rem; 
  }
  
  .otp-input:focus {
    border: 1px solid blue; /* Focus style */
    outline: none;
  }
  .error {
    position: absolute;
    color: red;
    font-size: 9px;
    margin-top: 20px 0px 20px 0px;
  }
.eye_icon {
  position: absolute;
  width:12px;
  left:220px;
  top:30px
}
.eyeicon2 {
  position: absolute;
  width:12px;
  left:220px;
  top:118px
}
.relativeParant {
position: relative;
display: flex;
flex-direction: column;
}

.resetPass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  background: #fff;
  box-shadow: 0px 1px 4px 0px #00000040;
  border-radius: 8px;
  padding:10px 20px ;
  line-height: 8px;
}

.otp_react {
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-hyphen {
  margin: 0 5px; /* Adjust as needed */
  font-size: 20px; /* Adjust as needed */
}
.otp-input {
  text-align: center;
}
.forgotPassError {
  position: absolute;
  color: rgb(218, 39, 39);
  top:70px;
  left: 0;
  background: #e7edf4;
  padding: 2px 10px;
  border-radius: 6px;
  font-size: 9px;
}
