.adminBasicModal_container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  position: relative;
  height: 100vh;
  gap: 25px;
}
.title_upload_container p {
  font-size: 14px;
  font-family: "Gilroy bold";
}
.title_upload_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.upload_admin_image {
  border: 1px dashed #0464d5;
  width: 100%;
  min-height: 100px;
  border-radius: 8px;
  background: #0464d50d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
  padding: 5px 0px;
}
.delete_uploaded_image {
  background: transparent;
  border: none;
}
.image_contianer_upload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dragText {
  color: gray;
  font-size: 12px;
}
.numberPro {
  border: 1px solid #23a064;
  border-radius: 32px;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #23A064
}
.numberPro2 {
  border: 1px solid #b4c3d0;
  border-radius: 32px;
  width: 25px;
  height: 25px;
  text-align: center;
}
.numberPro3 {
  border: 1px solid #b4c3d0;
  border-radius: 32px;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #23A064
}

.numbers_container {
  display: flex;
  justify-content: space-around;
}
.parant1 {
  position: relative;
  /* padding: 0px 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.line1 {
  border-bottom: 1px solid #000000;
  width: 60px;
  position: absolute;
  left: 45px;
  top: 11px;
}
.line2 {
  border-bottom: 1px solid #b4c3d0;
  width: 70px;
  position: absolute;
  left: 60px;
  top: 11px;
}

.headerTExt {
  font-size: 11px;
  color: gray;
  /* position: absolute; */
  white-space: nowrap;
}
.Container1 {
  margin: 15px 0px;
  text-align: center;
  position: relative;
}
.Container2 {
  margin: 15px 0px;
  text-align: center;
  position: relative;
}
.Container3 {
  margin: 15px 0px;
  text-align: center;
  position: relative;
}

.Assigner_Designer_Container {
  display: flex;
  flex-direction: column;
}
.AssignInput {
  display: flex;
  width: 100%;
}
.assigner_SearchBar {
  width: 100%;
}
.assignDesignerSearchBar {
  border: 1px solid #b4c3d0;
  width: 100%;
  padding: 8px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  height: 33.2px;
}
.assignSearchBar_button button {
  background: #0464d5;
  border: none;
  color: #ffff;
  padding: 9px 10px;
}
.avatarButton_designer {
  background: #126E72;
  border: none;
  box-shadow: #0000000d;
  color: #fff;
  font-family: "Gilroy medium";
  padding: 8px 16px;
  border-radius: 32px;
  font-size: 14px;
}
.assignDesignerTitle {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
  font-family: "Gilroy medium";
}
