.overlayCloseButton {
    background:none;
    border:none;
    position: absolute;
    right:405px;
    top:65px;
    color:#ffff;
    display:flex;
    gap:5px;
    font-size: 14px;
}
.poolIcons {
    position: absolute;
    display: flex;
    gap:20px;
    right:435px;
    bottom: 30px;
    box-shadow: 0px 4px 4px 0px #00000005;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    
    border-radius: 8px;
    border: 1px solid #FFFFFF; 
    padding:5px 18px;   
    align-items: center;
   
}
.poolIcons button {
    background: transparent;
    border: none;
    /* border-right: 1px solid white;
    border-left:1px solid transparent; */

    justify-content: center;
    align-items: center;
    
    
}
.iconContainer {
    border-right: 1px solid white;
    padding-right: 18px;
}
.poolIcons .iconContainer:last-child {
    border-right: none;
  }
  .iconImage {
    max-width: 18px;
 
  }
