.DesignerDashboard {
  padding-left: 225px;
  padding-top: 20px;
}
.Design_FileUpload {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23E6E3D7' stroke-width='2' stroke-dasharray='8%2c 7' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 6px;
}
.De__file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.D__fileUpload {
  font-family: "Gilroy medium";
  color: #000;
  font-weight: 600;
  margin-bottom: 7px;
}
.D__fileUpload2 {
  color: #19242d99;
  font-family: "lato";
}
.File____uploadbtn button {
  box-shadow: 0px 2px 4px 0px #0000000d;
  background: #0464d5;
  border-radius: 32px;
  padding: 10px 15px;
  color: #fff;
  font-family: "Gilroy medium";
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.Uploaded___list {
  margin-top: 25px;
}
.Card_Details_Designer {
  padding-top: 15px;
  font-family: "Gilroy medium";
  display: flex ;
  flex-direction: column;
  /* justify-content:space-between !important; */
  /* background-color: red; */
  height: 100%;
}