body button{
  cursor: pointer;
}

.inputFeild {
  border: 0.75px solid #e0e1e1;
  width: 100%;
  padding: 10px 10px;
  border-radius: 8px;
}
.Parent_userList {
  padding-left: 225px;
  padding-top: 20px;
}
/* .create_modal_parent {
  height: 85%;

} */
.Create_user {
  text-align: end;
}
.Create_user button {
  background: #126e72;
  border: none;
  outline: none;
  color: #fff;
  font-family: "Gilroy medium";
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 30px;
  box-shadow: 0px 2px 4px 0px #0000000d;
  cursor: pointer;
}
.Users_Table_List table,
th,
td:first-child,
td:nth-child(3),
td:nth-child(5) {
  font-weight:normal;
  

}
.Users_Table_List table,
th,
td {
  /* border: 1px solid black; */
  border-collapse: collapse;
  background: #fff;
  padding: 10px 15px;

  /* border-radius: 4px; */
  text-align: left;
  font-family: "Gilroy medium";

  /* font-size: 14px; */
  font-weight: 600;
}
.Users_Table_List tr {
  border-bottom: 0.5px solid #e7edf4;
}
.active_btn {
  color: #23a064;
  border: 1px solid #23a06496;
  background: #23a0642b;
  padding: 8px 20px;
  border-radius: 32px;
  font-family: "Inter", sans-serif;
}
.inactive_btn {
  color: #94a3b8;
  border: 1px solid #94a3b896;
  /* background: #23a0642b; */
  padding: 8px 20px;
  border-radius: 32px;
  font-family: "Inter", sans-serif;
  background: #94a3b82b;
}
.Users_Table_List {
  margin-top: 15px;
  box-shadow: 0px 8.890301704406738px 12.27112102508545px 0px #00000009;
  box-shadow: 0px 71px 98px 0px #00000012;
}
.sendmail_btn {
  background: #0464d5;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 32px;
  min-width: 90px;
  font-family: "Gilroy medium";
}
.view_password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* action toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 0.5px solid #e7edf4;
  box-shadow: 0px 0px 4px 0px #0000001f inset;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #14c16e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.active {
  background-color: #23a064; /* Background color when active */
}

.slider.inactive {
  background-color: #fff !important; /* Background color when inactive */
}

.slider.active:before {
  background-color: #14c16e; /* Circle color when active */
}

.slider.inactive:before {
  background-color: #94a3b8; /* Circle color when inactive */
}

/* .inactive {
  background-color: #ccc; 
} */

input:checked + .slider {
  background-color: #2ad583a6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2ad583a6;
  box-shadow: 0px 0px 4px 0px #0000001f inset;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* action toggle */
.active_sendmail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right:10px;
}
.Action_dots {
  color: #cad8e7;
  cursor: pointer;
  font-size: 24px;
}
:where(.css-dev-only-do-not-override-1ae8k9u).ant-modal .ant-modal-footer {
  display: none !important;
}
.create_modal_parent,
:where(.css-dev-only-do-not-override-1ae8k9u).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: 1px solid #d9d9d9;
  background: rgba(0, 110, 127, 0.1) !important;
  color: #006e7f !important;
}
.create-user-button {
  background: #2b2b2b;
  width: 100%;
  padding: 12px 0px;
  color: #fff;
  margin: 22px 0px 0px 0px;
  border: none;
  border-radius: 8px;
  font-family: "Gilroy medium";
}
.dragAndDrop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
}
.Edit_delete_btn_user {
  border: 0.5px solid #e7edf4;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px #00000014;
  background: #fff;
  position: absolute;
  right: 0%;
  z-index: 1;
}
.Edit_btn_user {
  padding: 15px;
  text-align: center;
}
.Delete_btn_user {
  padding: 15px;
  padding-top: 15px;
  cursor: pointer;
}
.title-Createuser > h3 {
  margin-bottom: 20px;
  font-family: "Gilroy medium";
  font-weight: 400;
  text-align: center;
  color: #000000;
}
:where(.css-dev-only-do-not-override-1ae8k9u).ant-upload-wrapper .ant-upload {
  outline: 0;
  max-width: 90px;
  max-height: 90px;
}
.create_form_field
  > :where(.css-dev-only-do-not-override-1ae8k9u).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  padding: 19px 10px;
  border-radius: 4px;
}
.create_form_field {
  position: relative;
  padding: 5px 0px;
}
.Create_form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.uploadFile {
  font-family: "Inter", sans-serif;
}
.create_modal_parent,
:where(.css-dev-only-do-not-override-1ae8k9u).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  color: #006e7f !important;
  border: none !important;
}
.error {
  position: absolute;
  color: rgb(218, 39, 39);
  bottom: -15px;
  left: 0;
  background: #e7edf4;
  padding: 2px 10px;
  border-radius: 6px;
  font-size: 9px;
}
.error_selected_input {
  position: absolute;
  color: rgb(218, 39, 39);
  bottom: -26px;
  left: 0;
  background: #e7edf4;
  padding: 2px 10px;
  border-radius: 6px;
  font-size: 9px;
}

#avatar_upload_icon {
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
  border-radius: 50%; /* Make the container circular */
  overflow: hidden; /* Hide overflow content */
}

.uploaded_image_container {
  width: 100%;
  height: 100%;
}
.passwordEncy {
  min-width: 100px;
  padding-top: 2px;
}
.passwordEncy_star {
  min-width: 100px;
  padding-top: 8px;
}
