button {
  cursor: pointer;
}

.Parent_DesignView {
  padding-left: 225px;
  padding-top: 20px;
}
.DesignPool_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  /* width: 90%; */
  margin-left: 225px;
}
.D_downlodBtn {
  display: flex;
  align-items: center;
  gap: 7px;
  box-shadow: 0px 2px 4px 0px #0000000d;
  background: #126e72;
  color: #fff;
  font-family: "Gilroy medium";
  border: none;
  padding: 10px 15px;
  border-radius: 32px;
  cursor: pointer;
  font-size: 14px;
}
.D_selectBtn {
  box-shadow: 0px 2px 4px 0px #0000000d;
  background: #04344d;
  font-family: "Gilroy medium";
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 32px;
  cursor: pointer;
  font-size: 14px;
}
.D_moveBtn {
  box-shadow: 0px 2px 4px 0px #0000000d;
  border: 0.5px solid #04344d;
  padding: 10px 15px;
  border-radius: 32px;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: "Gilroy medium";
  cursor: pointer;
  font-size: 14px;
  color: #04344d;
}
.D_View_Sort_Filter {
  box-shadow: 0px 2px 4px 0px #0000000d;
  background: #fff;
  border: 0.5px solid #f0f0f0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: "Gilroy medium";
  color: #2e364c;
  border-radius: 32px;
  cursor: pointer;
  font-size: 14px;
}
.Card_img img {
  width: 100% !important;
  height: 100%;
  object-fit: contain;
  /* background-size: contain; */
  
}
.New_Design_card {
  border: 0.5px solid #f9f7f0;
  background: #fff;
  border-radius: 4px;
  padding: 15px 12px;
  position: relative;
}
.Card_Design_Parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}
.Card_img {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 0.5px solid #ceccc7; */
  border-bottom: 0.5px solid #ceccc78a;
  padding-bottom: 10px;
  height: 200px;
}
.Card_Details {
  padding-top: 15px;
  font-family: "Gilroy medium";
  display: flex ;
  flex-direction: column;
  /* justify-content:space-between !important; */
  /* background-color: red; */
  /* height: 100%; */
}
.HeadNewdesign {
  font-family: "Gilroy medium";
  font-weight: 600;
  margin-bottom: 15px;
}
.Card_Details h3 {
  color: #191d29;
  font-weight: 600;
  font-size: 14px;
  font-family: "Gilroy medium";
  margin-bottom: 15px;
}
.Inner_Left p:nth-child(1) {
  font-weight: 400;
  color: #455173;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}
.Inner_Left p:nth-child(2) {
  font-weight: 400;
  color: #455173;
  padding-bottom: 5px;
  font-size: 12px;
}
.Inner_Left p:nth-child(3) {
  font-weight: 400;
  color: #455173;
  padding-bottom: 5px;
  font-size: 12px;
}
.Card_Details_Inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Inner_Right {
  background: linear-gradient(
    180deg,
    rgba(19, 118, 118, 0.79) 0%,
    #1aa1a1 100%
  );
  color: #fff;
  font-weight: 600;
  /* font-size: 16px; */
  border-radius: 4px;
}
.Inner_Right p {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 5px;
  color: #fff;
  font-size:14px;
}
.Parent_unvoted {
  padding: 50px 0px;
}
.Radio_select {
  position: absolute;
  top: 3%;
  right: 5%;
  cursor: pointer;
}
.Download_ParentD {
  position: relative;
}
.Download_Sub {
  background: #fff;
  position: absolute;
  width: 100%;
  right: 0%;
  box-shadow: 0px 4px 16px 0px #00000040;
  border-radius: 8px;
  padding: 15px;
  z-index: 9;
  font-family: "Gilroy medium";
  top: 45px;
}
.Download_Sub p:nth-child(1) {
  border-bottom: 0.5px solid #ededece0;
  padding: 12px 0px;
  padding-top: 0px;
  cursor: pointer;
}
.Download_Sub p:nth-child(2) {
  padding: 12px 0px;
  padding-bottom: 0px;
  cursor: pointer;
}
.Parent_MoveTo {
  position: relative;
}
.Sub_AssignmentPanel {
  background: #fff;
  position: absolute;
  width: 161px;
  right: 0%;
  box-shadow: 0px 4px 16px 0px #00000040;
  border-radius: 8px;
  padding: 15px;
  z-index: 9;
  font-family: "Gilroy medium";
  top: 45px;
}

.sortData{
  display: flex;
  flex-direction: column;
  padding:2px ;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  /* gap: 16px; */
  background-color: white;
  position: absolute;
  top: 40px;
  z-index: 999;
  width: 120px;
  left: -25px;
  border-radius: 20px !important;
}
.sortData span{
  width: 100%;
height: 35px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
.sortData span:nth-child(1):hover{
background-color: #0566d433;
border-radius: 20px 20px 0px 0px !important;
}
.sortData span:nth-child(2):hover{
background-color: #0566d433;
/* border-radius: 0px 0px  20px 20px !important; */
}
.sortData span:nth-child(3):hover{
background-color: #0566d433;
border-radius: 0px 0px  20px 20px !important;
}
.dateUpdate_fix {
  font-weight: 600;
  font-size: 10px;
  font-family: "Gilroy medium";
  font-weight: 400;
  color: #455173;
  padding-bottom: 5px;
}
.setcolor{
  background-color: #0566d433;
  border-radius: 20px 20px 0px 0px !important;
}
.setcolor2{
  background-color: #0566d433;
}
.setcolor3{
  background-color: #0566d433;
  border-radius: 0px 0px  20px 20px !important;

}
