.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-items: center;
  align-items: center; */
}
.leftTable {
  display: flex;
  background: #fff;
  flex-direction: column;
  gap: 15px;
}
.rightTable {
  background: #f9f9f9;
  /* margin:6px 0px -10px 5px; */
  /* padding:10px; */
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 440px;
}
.left_header_title_sc {
  color: #303a42;
  font-family: "Gilroy medium";
  font-weight: 600;
  font-size: 16px;
}
.left_header_title_sc_left {
  color: #303a42;
  font-family: "Gilroy medium";
  font-weight: 600;
  font-size: 16px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
}
.header_slotCreation_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0px 13px;
}
.Search_Userr {
  position: relative;
  /* overflow: hidden; */
}
.Search_Userr input {
  border: 0.5px solid #f1efea;
  background: #fbfaf8;
  padding: 13px 20px;
  outline: none;
  width: 230px;
  border-radius: 32px;
  font-family: "Gilroy medium";
  box-shadow: 0px 4px 4px 0px #dfddd740 inset;
}
.transferSearchIcon input {
  /* box-shadow: 0px 4px 4px 0px rgba(223, 221, 215, 0.25) inset; */
  border: 1px solid rgba(224, 220, 209, 1);
}
.transferSearchIcon img {
  position: absolute;
  right: 1px;
  bottom: 0.5px;
}
.searchIconTransfer img {
  width: 42px;
}
.Search_Userr input::placeholder {
  color: #c6bfae;
  font-family: "Gilroy medium";
  font-size: 14px;
}
.transferSearchIcon img {
  position: absolute;
  right: 1px !important;
  bottom: 0.5px;
}
.Search_Userr img {
  position: absolute;
  right: 0%;
  bottom: 0%;
}
.iconBack {
  background: #f1efea;
}
.add_button_sc {
  border: none;
  background: #126e72;
  border-radius: 32px;
  color: #ffff;
  padding: 10px 10px;
  font-size: 14px;
  /* margin: 4px 0px 3px 20px; */
  margin: 4px 0px;
}
.supermarket-table {
  border-collapse: collapse;
  width: 100%;
}

.supermarket-table th {
  border: 0.5px solid #dddddd;
  text-align: center;
  padding: 10px 5px;
  font-size: 11px;
}

.supermarket-table th {
  background-color: #f2f2f2;
}
.table_left_data_container {
  padding: 10px 15px;
}
.supermarket-table td {
  padding: 2px 2px;
  font-size: 11px;
  border: 0.5px solid #dddddd;
  text-align: center;
}
.table-data {
  font-size: 14px; /* Reduce font size for table data */
}
.table-header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.center-input {
  border: none;
}
.table-container-left {
  max-height: 310px; /* Set a max height for the container */
  overflow-y: auto; /* Add vertical scroll if content overflows */
}
.right-header-sc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px 16px;
  margin-top: 8px;
  /* margin-bottom: 25px; */
}
.headers-left-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right-side-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.create_bag_button {
  border: none;
  color: #fff;
  border-radius: 32px;
  padding: 10px 16px;
  background: #2b2b2b;
  box-shadow: 0px 2px 4px 0px #0000000d;
}
.Delete_button_sc {
  border: none;
  background: transparent;
  padding: 3px 0px 3px 50px;
}
.right-data-and-button-c {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px;
  align-items: center;
}
.table-righ-container-sc {
  padding: 10px 15px;
}
.table-container-right {
  max-height: 330px; /* Set a max height for the container */
  overflow-y: auto;
  box-shadow: 0px 2px 4px 0px #0000000d;
}
.right-span-text {
  color: #455173;
  font-family: "Gilroy medium";
  font-weight: 400;
  font-size: 14px;
}
.right-span-number-text {
  color: #0464d5;
}
.table-header {
  color: #455173;
}
.weight_header-right {
  text-align: left !important;
  width: 30%;
}
.weight_header-left {
  text-align: left !important;
  width: 35%;
}
.checkbox_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.overLayButton_sc {
  background: none;
  border: none;
  position: absolute;
  right: 140px;
  top: 30px;
  color: #ffff;
  display: flex;
  gap: 5px;
}
.table_productCat {
  width: 40%;
  color: #455173;
}
.table_weight {
  color: #455173;
  width: 15%;
}
.print_slot_modal_container {
}
