* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background: #f6f5f1;
}

@font-face {
  font-family: "Gilroy bold";
  src: url(./assets/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy medium";
  src: url(./assets/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy reguler";
  src: url(./assets/Gilroy-Regular.ttf);
}
